{% extends "base-without-navbar.html" %}

    {% block content %}    <!-- code for displaying success or error message in template -->
        {% if messages %}
            {% for message in messages %}
                {{ message }} <br/>
            {% endfor %}
        {% endif %}

        <!-- Form rendering code for template -->
        <form action="" method="post">

            {% csrf_token %}
            <p>
                <label for="id_email_or_username">
                    Email Or Username:
                </label>
                <input id="id_email_or_username" maxlength="254"
                       name="email_or_username" type="text"
                       value="" required />
            </p>
            <input class="btn btn-primary" type="submit" value="Submit"/>

            <a class = "btn btn-success text-center"
                href="{% url "main" %}">
                Back to the Main Page
            </a>
        </form>

{% endblock %}