{% extends "base.html" %}

{% block content %}
    <h3>User Information change.</h3>


    <p>
        <a class="btn btn-danger"
           href="{% url 'password_change' %}">Password Change ONLY</a>
    </p>
    <p>
        <a class="btn btn-primary"
           href="{% url 'password_reset' %}">Password Reset</a>
    </p>
    <hr/>
    <p>
        <a class="btn btn-danger"
           href="{% url 'user_change' %}">Change User Information</a>
    </p>

    <hr/>
    <p>
        <a class="btn btn-success"
           href="{% url 'export_one_user_info' %}">
            Export All Your Information</a>
    </p>
    <hr/>
    <p>
        <a class="btn btn-primary"
           href="{% url 'import_one_user_info' %}">
            Import Your Information
            (User, Password and AccessPoint)</a>
    </p>
{% endblock %}