{% extends "base.html" %}

{% block content %}
    <h3>User Information change.</h3>

    <p>
    Your User ID is: {{ user.id }}
    </p>

    <p>
        <a class="btn btn-danger"
           href="{% url 'password_change' %}">Password Change ONLY</a>
    </p>
    <p hidden>
        <a class="btn btn-primary"
           href="{% url 'password_reset' %}">Password Reset</a>
    </p>
    <hr/>
    <p>
        <a class="btn btn-primary"
           href="{% url 'user_change' %}">Change User Information</a>
    </p>

{% endblock %}