{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <p>Founded in 2002 and located in Nashville,
            TN, USA, Wang Vision 3D Cataract and
            LASIK Center is a world-class,
            state-of-the-art laser vision
            surgery facility that has gained
            international reputation in
            management of complications after
            LASIK vision correction surgery.
            The center is equipped with the
            Intralase femtosecond and VISX Star
            4 excimer lasers. It boasts the most
            complete array of corneal imaging
            systems, including the AstraMax,
            the world's first 3-D corneal mapping
            system, and the Pentacam,
            Orbscan, Humphrey Atlas, Tomey,
            and EyeSys corneal mapping systems,
            as well as the Visante imaging
            system. WVI also has both the
            WaveScan wavefront measuring
            system and Tracy wavefront topography
            combined system to measure
            imperfections within the vision of each eye.
            WVI staff
        </p>

        <p>The center's founding director,
            Dr. Ming Wang ,
            is Harvard and MIT educated
            (magna cum laude).
            His doctoral degree in laser physics
            makes him uniquely qualified to
            perform laser vision correction.
            Dr. Wang has extensive experience
            in the field of laser vision
            correction, and is often
            described as the doctors' choice.
            He introduced bladeless (Intralase)
            LASIK, the most state-of-the-art
            LASIK technology,
            to Tennessee and is the inventor
            of a new biotechnology that is
            designed to restore vision in
            patients with reduced vision due
            to corneal disease. He strives
            to provide the highest standard
            of care using the latest
            technology and surgical techniques.
        </p>
        <p>
            Together with the staff
            doctors at Wang
            Vision 3D Cataract
            and LASIK Center
            offers world-class
            quality laser vision correction to
            patients who have come to Wang
            Vision 3D Cataract and LASIK
            Center from over 40 states in
            the US and from over 55 countries
            worldwide.</p>
</div>


{% endblock %}