{%  extends "base.html" %}

{% block content %}
    <div>
        <h3 class="text-center">
            Successfully associate the password with access point(s) and/or trusted partners
        </h3>
    </div>

    {% if all_ids %}
        <p class="text-center">
            The following access point ID(s) have been associated with a
            password:{{ all_ids }}
        </p>
    {% endif %}

    {% if invalid_usernames %}
        <p class="text-center">
        The following user names are not
        valid:{{ invalid_usernames }}. They are NOT associated with
        the password.
        </p>
    {% endif %}


    <a class="btn btn-info text-center"
       href="{% url "receipts" %}">
        Back to the password list
    </a>

{% endblock %}