{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <img class="image image-responsive" width="500" src = "{% static "images/01.jpg" %}"/>
    <address style="margin-top: 10px">
        Ming Wang, MD, PhD<br>
        Director, Wang Vision 3D Cataract & LASIK Center<br>
        1801 West End Ave Suite 1150<br>
        Nashville TN USA 37203<br>
        Email: drwang@wangvisioninstitute.com<br>
        Phone: (615) 321-8881<br>
        Fax: (615) 321-8874<br>
    </address>
    </div>


{% endblock %}