{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <img class="image image-responsive"
             width="500" src = "{% static "images/01.jpg" %}"/>
        <br>
        <br>
    <address>
        Ming Wang, Harvard & MIT (MD, magna cum laude);
        PhD (laser physics)<br>
        Sarah Connolly, OD, FAAO, Nathan Rock, MD,
        FAAO, David Zimmerman, OD, FAAO<br>
        Wang Vision 3D Cataract & LASIK Center<br>
        1801 West End Ave Suite 1150<br>
        Nashville TN USA 37203<br>
        Email: drwang@wangvisioninstitute.com<br>
        Phone: (615) 321-8881<br>
        Fax: (615) 321-8874<br>
        Website:<a href="http://www.wangcataractLASIK.com">
        www.wangcataractLASIK.com</a><br>
    </address>
    </div>


{% endblock %}