{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


    <div class="row">
        <p class="col-md-offset-2 col-md-8">Encryption is the process of
            encoding messages in such a way that only authorized parties
            can access them. Traditionally, encryption has been done
        through encryption algorithms. These algorithms take plaintext
            and convert it into ciphertext. These algorithms use keys to
            encrypt and decrypt messages. In order for a person to decrypt a
        ciphertext, the person must know what kind of encryption algorithms
            are uses and the key to decrypt the message. Math encryption
            refers to encryption technology depending on mathematical
            algorithms to transformation a plaintext into a ciphertext.
            Even though a person can get hold of a ciphertext, the person
            does not understand the meaning of the ciphertext. In theory,
            a person can crack the ciphertext with the help of a strong
            math skill and a powerful computer, but the effort
            is usually too much for ordinary people to engage in such
            efforts.</p>
        <p class="col-md-offset-2 col-md-8">Human encryption is just
            a fancy term for hint. How do you choose a password?
            You did not choose random combinations of characters
            because memorizing random characters is a huge burden
            for human brains. Instead, you choose a password based on
            an easy-to-remember hint. In this case, a password
            is a ciphertext and a hint is a plaintext. For example,
        Hli+19440210 is the password that I have chosen for a website.
            The hint can be something like: FIRST Initial last PLUS DOB.
            FIRST Initial represents H. Last is a reference to my
            last name li. PLUS is a trick (maybe not so tricky) to
            indicate a + symbol. DOB is another trick. Instead of
            using my own date of birth, which is 19690331, I have
            used DOB of my mother who was born on 19440210.
            As you can tell, there is no way for anyone to convert
            from "FIRST Initial last PLUS DOB" to
            "Hli+19440210". No matter how powerful their computers are,
            corporations and government agencies cannot crack the
            code because it is not based on mathematical algorithms.
        </p>
            <p class="col-md-offset-2 col-md-8">
                At ihatepassword.com, we encourage you to store "hints"
                for website, username and password. This is especially
                true for password storage. Once a hint has been found,
                you can easily convert it to the real password.
        </p>
    </div>

    <div class="row">

        <div class="col-md-4">
        <img class="img-responsive" src="{% static "images/Slide1.PNG" %}"/>
        </div>

        <div class="col-md-4">
        <img class="img-responsive" src="{% static "images/Slide2.PNG" %}"/>
        </div>

        <div class="col-md-4">
        <img class="img-responsive" src="{% static "images/Slide3.PNG" %}"/>
        </div>

    </div>

{% endblock %}