{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <p>
       Do you know if you are nearsighted or farsighted?
    </p>
    <p>
    Do you know if you have astigmatism?
    </p>
    <p>
    Why upload prescriptions here?
    </p>
    <p>
    You are nearsighted, and your myopic (nearsighted) prescription is ___
    You also have astigmatism, and the amount is ____
    </p>

    <p>
    Are you tired of wearing contacts by the end of a day?
    </p>
    <p>
    You have a type of dry eyes . . .
    </p>
    <p>
    You have a type of dry eyes that has to do with a reduce tear volume . . .
    </p>

    <p class="text-center">
        <a class = "btn btn-primary text-center"
         href="{% url "main" %}">
        Back to the Main Page</a>
    </p>


{% endblock %}

