{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <h2>How to try the system?</h2>

            <p class="col-md-offset-2 col-md-8">
            Please use any of the following credentials
            to play with the system.
            Change some, add some, even delete some.
            They are actual entries used by Max Li.</p>

                <p class="col-md-offset-2 col-md-8 fontsize180p">
                    ENJOY!
                </p>

    <p class="col-md-offset-2 col-md-8">
              <table class="table table-responsive table-striped
      table-bordered table-hover table-condensed">
        <thead>
          <tr >
            <th class="text-center">
                username
            </th>

              <th class="text-center">
              password
            </th>

          </tr>
        </thead>
        <tbody>
            <tr>
             <td class="text-center">
                 demo1969
            </td>
            <td class="text-center">
                ihatepassword
            </td>
            </tr>
            <tr>
             <td class="text-center">
                 demo1970
            </td>
            <td class="text-center">
                ihatepassword
            </td>
            </tr>

        </tbody>
      </table>


        <p class="col-md-offset-2 col-md-8">We provide an easy solution
                to the hard problem of password fatigue syndrome.
            Instead of stored encrypted password or plain password,
            our system stores password hints so that computer
            users have peace of mind.
        </p>
        <p class="col-md-offset-2 col-md-8">Access points are public access
            entry point through which a computer user can make a password
            entry "public".
    </p>

</div>


{% endblock %}