{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div>
        <div class="row">
            <div class="col-md-4">
                Step 1: Take a picture of a receipt or scan a image of a receipt.
            </div>
            <div class="col-md-4">
                Step 2: Upload the picture or scanned image.
            </div>
            <div class="col-md-4">
                Step 3: Redeem the total amount and enjoy eyeglass-free life style!
            </div>
        </div>

    </div>




    {% if user.is_authenticated %}
        <p>


        </p>
    {% else %}
    {% endif %}

{% endblock %}