{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
                <p>
                    Step 1: Take a picture of a receipt or scan a image of a receipt.
                </p>
                <p>
                    Step 2: Upload the picture or scanned image.
                </p>
                <p>
                    Step 3: Redeem the total amount and enjoy eyeglass-free life style!
                </p>

            </div>
            <div class="col-md-4">
                Links to WVI websites.
                LASIK in general.
                WVI.
                Dr. Ming Wang.
                in that order.
                Future site of aier-USA.
                LASIK industry news?

            </div>
        </div>

    </div>




    {% if user.is_authenticated %}
        <p>


        </p>
    {% else %}
    {% endif %}

{% endblock %}