{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


    <div class="row">
    <h2 class = "col-md-offset-2 col-md-8">
        Our story</h2>
        <p class="col-md-offset-2 col-md-8">Max Li studied computer
            science in his college years in China. Back in late 1980's,
            there were not many computers on a college campus.
            As a result, the number of passwords to be remembered
            was limited. Password management was not yet an issue.</p>

        <p class="col-md-offset-2 col-md-8">One keen observation about
            password management is that the number of passwords to
            be remembered never decreases. Over the years Max has
            accumulated a lot of passwords that he needs to manage.
            He first tried memorizing everything in his head. Then he
            tried writing down on random sheets of paper. When that
            proved inadequate, he wrote them in a notebook.
            He was still not happy.
        </p>
        <p class="col-md-offset-2 col-md-8">Max tried several computer-based
            approaches. For example, he create an MS Word file in his own
            computer. But he later felt that an Excel spreadsheet was a better
            way to manage the problem. With the popularity of online file
            storage, he has stored files online on websites such as OneDrive and
            Google Drive. But he was still not satisfied.
    </p>
        <p class="col-md-offset-2 col-md-8">When Max saw his wife used her
            notebook to write down everything, he thought to himself that he
            could do a better job of password management. He created a webapp
            called ihatepassword.com. The key innovation for the webapp is
            this: avoiding the encryption approach to password management. If he
            tried securing passwords using another (possibly more secure)
            password, the approach would ultimately fail as a hacker can
            crack any code. A hacker can never crack a well-designed
            password hint known only to the password creator - unless physical
            threats or forces are used!
    </p>
    </div>

{% endblock %}