{% extends "base.html" %}

{% block content %}
    <div>
        <h3 class="text-center">Use this form to create a new password entry.
            Clicking on "Back to the password list" does not create anything.</h3>
    </div>
    <form action="" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="isa_error fontsize150p">
                    <i class="fa fa-times-circle"></i>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            {% for field in form %}
                {% for error in field.errors %}
                    <div class="isa_error fontsize150p">
                        <i class="fa fa-times-circle"></i>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    <table class="spacing-table">
        <tr>
            <td>
            <label for="id_website">Website:</label>
                </td>
            <td>
            <input id="id_website" maxlength="254"
                   name="website" type="text"/>
                </td>
            <td>
            <span class="helptext text-right">
                &nbsp;Website name or computer
                name or organization name
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_username">Username:</label>
            </td>
            <td>
            <input id="id_username" maxlength="255"
                   name="username" type="text"/>
            </td>
            <td>
            <span class="helptext">
                &nbsp;Username or email
                or phone number
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_password">Password:</label>
                </td>
            <td>
            <input id="id_password" maxlength="255"
                   name="password" type="text"/>
                </td>
            <td>
            <span class="helptext">
                &nbsp;Hint works perfect.
                Full honesty optional</span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_creationDT">Created On:</label>
    </td>
        <td>
            <input id="id_creationDT" name="creationDT"
                   type="text" value="{% now 'Y-m-d H:i:s'%}"/>
            </td>
        <td>
            <span class="helptext">
                &nbsp;Creation Date/Time. Format: YYYY-MM-DD HH:MM:SS
            </span></td>
        </tr>
        <tr>
            <td>
            <label for="id_modificationDT">Modified On:</label>
                </td>
            <td>
            <input id="id_modificationDT" name="modificationDT"
                   type="text" value="{% now 'Y-m-d H:i:s'%}"/>
                </td>
            <td>
            <span
                class="helptext">
                &nbsp;Date/Time. Format: YYYY-MM-DD HH:MM:SS
            </span></td>
        </tr>
        <tr>
            <td>
            <label for="id_security_questions">
                Security Questions:
            </label>
                </td>
            <td><input id="id_security_questions" name="security_questions"
                   type="text" value=""/>
                </td>
            <td>
            <span
                class="helptext">
                &nbsp;Security Questions/Answers Q/A
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_email">
                Email:
            </label>
                </td>
            <td>
            <input id="id_email" name="email"
                   type="text" value=""/></td>
            <td>
            <span
                class="helptext">
                &nbsp;Email associated with the username
            </span></td>
        </tr>
        <tr>
            <td>
            <label for="id_comment">Comment:</label>
                </td>
            <td>
            <input id="id_comment" maxlength="255"
                   name="comment" type="text"/>
                </td>
            <td>
            <span class="helptext">
                &nbsp;Any comments are welcome
            </span></td>
        </tr>

</table>

        <input class="btn btn-primary" type="submit" value="Save"/>
    </form>

    <a class="text-center btn btn-primary" href="{% url "password_list" %}">
        Back to the password list</a>

{% endblock %}