{% extends 'base.html' %}

{% block content %}
    <div class="">
        <h1 class="text-center">Password Details</h1>
    </div>
ID is: {{ password.id }} <br/>
Website is: {{ password.website }} <br/>
Username is: {{ password.username }} <br/>
Password is: {{ password.password }} <br/>
is_private? {{ password.is_private }} <br/>
Comment is: {{ password.comment }} <br/>
Created On: {{ password.creationDT }}<br/>
Modified On: {{ password.modificationDT }} <br/>
Security Questions: {{ password.security_questions }}<br/>
Email: {{ password.email }} <br/>

<a class="text-center btn btn-primary"
    href="{% url "password_list" %}">
    Back to the password list
</a>
{% endblock %}