{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <link
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <script
            src=
        "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js">
    </script>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <div class="">
        <h1 class="text-center">Passwords that I LOVE/HATE most</h1>
    </div>

    <p class="text-center fontsize180p">
        Maximum number of entries by our champion:
        {{ max_num_pwd }}<br/>
        Your own number of entries:
        {{ your_own_num_pwd }}
    </p>

    <p class="text-center">
        <a class="btn btn-primary" href="{% url "password_create" %}">
            Create a New Password Entry
        </a> or
        <a class = "btn btn-primary text-center"
         href="{% url "main" %}">
        Back to the Main Page</a>
    </p>

      <table class="table table-responsive table-striped
      table-bordered table-hover table-condensed">
        <thead>
          <tr >
            <th class="text-center">
                <a data-toggle="tooltip"
                   data-placement="auto"
                   title=
                   "Website, computer or organization name">
                    Website
                </a>
            </th>
            <th class="text-center">
                <a data-toggle="tooltip"
                   data-placement="auto"
                   title=
                   "Username. Some sites use email as username">
                    Username
                </a>
            </th>
            <th class="text-center">
                <a data-toggle="tooltip"
                   data-placement="auto"
                   title=
                   "Actual password or password hint. Anything that helps you to remember.">

                    Password
                </a>
            </th>
            <th class="text-center">
                <a data-toggle="tooltip"
                   data-placement="auto"
                   title=
                   "Is the entry private or not?">
                    Private?
                </a>
            </th>
            <th class="text-center">
                <a data-toggle="tooltip"
                   data-placement="auto"
                   title=
                   "Choices: More, Edit, Delete or Assign to an access point">
                    Actions
                </a>
            </th>
          </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                <td class="text-center clipboardclass"
                    data-clipboard-text="{{ item.website }}"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="">
{#                    {{ item.website | truncatechars:25 }}#}
{#                    <div class="hide-some">{{ item.website }}</div>#}

                    {% if item.website|length >= 25 %}
                         <a data-toggle="tooltip"
                         data-placement="auto"
                         title=
                         "{{ item.website }}">
                         {{ item.website | truncatechars:25 }}
                         </a>
                    {% else %}
                        {{ item.website }}
                    {% endif %}


                </td>
                <td class="text-center">
{#                    {{ item.username | truncatechars:25 }}#}
                    {% if item.username|length >= 25 %}
                         <a data-toggle="tooltip"
                         data-placement="auto"
                         title=
                         "{{ item.username }}">
                         {{ item.username | truncatechars:25 }}
                         </a>
                    {% else %}
                        {{ item.username }}
                    {% endif %}
                </td>
                <td class="text-center">
{#                    {{ item.password | truncatechars:25 }}#}
                    {% if item.password|length >= 25 %}
                         <a data-toggle="tooltip"
                         data-placement="auto"
                         title=
                         "{{ item.password }}">
                         {{ item.password | truncatechars:25 }}
                         </a>
                    {% else %}
                        {{ item.password }}
                    {% endif %}
                </td>
                 <td class="text-center">
                     {% if item.is_private == "Yes" %}
                         <span class="color_green" >
                             {{ item.is_private }}
                         </span>
                     {% elif item.is_private == "Partially" %}
                         <span class="bs_regular_orange_color" >
                             {{ item.is_private }}
                         </span>
                     {% else %}
                         <span class="color_red" >
                             {{ item.is_private }}
                         </span>
                     {% endif %}
                </td>
                <td class="text-center">
                    <a class ="btn btn-primary"
                       href="{% url "password_detail" pk=item.id %}">
                        <i class="icon-lg ion-more"
                           title="More...">
                        </i></a>
                    <a class ="btn btn-warning"
                       href="{% url "password_update" pk=item.id %}">
                       <i class="icon-lg ion-edit"
                          title="Edit">
                       </i>
                    </a>
                    <a class ="btn btn-danger"
                       href="{% url "password_delete" pk=item.id %}">
                       <i class="icon-lg ion-close-round"
                          title="Delete">
                       </i>
                    </a>
                    <a class ="btn btn-success"
                       href="{% url "assign_list" pk=item.id %}">
                       <i class="icon-lg ion-share"
                          title="Assign to access points">
                       </i>
                    </a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>


    <p class="text-center">
        <a class="btn btn-primary" href="{% url "password_create" %}">
            Create a New Password Entry
        </a> or
        <a class = "btn btn-primary text-center"
         href="{% url "main" %}">
        Back to the Main Page</a>
    </p>

        <script>
        $('.clipboardclass').tooltip({
          trigger: 'click',
          placement: 'bottom'
        });

        function setTooltip(btn, message) {
          btn.tooltip('hide')
            .attr('title', message)
            .tooltip('show');
        }

        function hideTooltip(btn) {
          setTimeout(function() {
            btn.tooltip('hide');
          }, 20000);
        }

        var clipboard = new Clipboard('.clipboardclass');

        clipboard.on('success', function(e) {
            var btn = $(e.trigger);
          setTooltip(btn, 'Copied!');
          hideTooltip(btn);
        });
    </script>

{% endblock %}

