{% extends "base.html" %}

{% block content %}
    <div>
        <h3 class="text-center">Use this form to create a new prescription entry.
            Clicking on "Back to the prescription list" does not create anything.
        </h3>
    </div>
    <form action = ""
          method = "post"
          enctype='multipart/form-data'>
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="isa_error fontsize150p">
                    <i class="fa fa-times-circle"></i>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            {% for field in form %}
                {% for error in field.errors %}
                    <div class="isa_error fontsize150p">
                        <i class="fa fa-times-circle"></i>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    <table class="spacing-table">
        <tr>
            <td>
            <label for="id_name">name:
                <span style="font-size:30px">
                   <i class="icon-lg ion-help-circled"
                      title="Any name that you give to a particular prescription">
                   </i>
                </span>
            </label>
                </td>
            <td>
            <input id="id_name" maxlength="254"
                   name="name" type="text" required />
                </td>
            <td>
            <span class="helptext text-right">
                Prescription Name
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_doctor_name">Doctor's Name:
                <span style="font-size:30px">
                   <i class="icon-lg ion-help-circled"
                      title="Health service provider's name">
                   </i>
                </span>
            </label>
            </td>
            <td>
            <input id="id_doctor_name" maxlength="255"
                   name="doctor_name" type="text" required />
            </td>
            <td>
            <span class="helptext">
                Doctor Name
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_left_eye_sphere">
                Left Eye Sphere:
                <span style="font-size:30px">
                   <i class="icon-lg ion-help-circled"
                      title="This number indicates the amount of lens power of the left eye, measured in diopters (D), prescribed to correct nearsightedness or farsightedness. If the number appearing under this heading has a minus sign (–), you are nearsighted; if the number has a plus sign (+) or is not preceded by a plus sign or a minus sign, you are farsighted.">
                   </i>
                </span>


            </label>
            </td>
            <td>
            <input id="id_left_eye_sphere"
                   maxlength="255"
                   name="left_eye_sphere"
                   type="number"
                   pattern="[1-9][0-9]+(\.[0-9]+)"
                   step="0.25" required />
                </td>
            <td>
            <span class="helptext">
                Sphere number. Format: +0.75 or -3.25
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_left_eye_cylinder">Left Eye Cylinder:
                <span style ="font-size:30px">
                    <i class="icon-lg ion-help-circled"
                       title="This is the help text for left eye cylinder">
                    </i>
                </span>
            </label>
                </td>
            <td>
            <input id="id_left_eye_cylinder"
                   maxlength="255"
                   name="left_eye_cylinder"
                   type="number"
                   pattern="[1-9][0-9]+(\.[0-9]+)"
                   step="0.25" required />
                </td>
            <td>
            <span class="helptext">
                Cylinder number. Format: +0.75 or -3.25
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_left_eye_axis">Left Eye Axis:
                <span style ="font-size:30px">
                    <i class="icon-lg ion-help-circled"
                       title="This is the help text for left eye axis">
                    </i>
                </span>
            </label>
                </td>
            <td>
            <input id="id_left_eye_axis"
                   maxlength="255"
                   name="left_eye_axis"
                   type="number"
                   pattern="[1-9][0-9]+(\.[0-9]+)"
                   step="0.25" required />
                </td>
            <td>
            <span class="helptext">
                Axis number. Format: +60 or -60
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_right_eye_sphere">Right Eye Sphere:
                <span style ="font-size:30px">
                    <i class="icon-lg ion-help-circled"
                       title="This is the help text for right eye sphere">
                    </i>
                </span>
            </label>
                </td>
            <td>
            <input id="id_right_eye_sphere"
                   maxlength="255"
                   name="right_eye_sphere"
                   type="number"
                   pattern="[1-9][0-9]+(\.[0-9]+)"
                   step="0.25" required />
                </td>
            <td>
            <span class="helptext">
                Sphere number. Format: +0.75 or -3.25
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_right_eye_cylinder">Right Eye Cylinder:
                <span style ="font-size:30px">
                    <i class="icon-lg ion-help-circled"
                       title="This is the help text for right eye cylinder">
                    </i>
                </span>
            </label>
                </td>
            <td>
            <input id="id_right_eye_cylinder"
                   maxlength="255"
                   name="right_eye_cylinder"
                   type="number"
                   pattern="[1-9][0-9]+(\.[0-9]+)"
                   step="0.25" required />
                </td>
            <td>
            <span class="helptext">
                Cylinder number. Format: +0.75 or -3.25
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_right_eye_axis">Right Eye Axis:
                <span style ="font-size:30px">
                    <i class="icon-lg ion-help-circled"
                       title="This is the help text for right eye axis">
                    </i>
                </span>
            </label>
                </td>
            <td>
            <input id="id_right_eye_axis"
                   maxlength="255"
                   name="right_eye_axis"
                   type="number"
                   pattern="[1-9][0-9]+(\.[0-9]+)"
                   step="0.25" required />
                </td>
            <td>
            <span class="helptext">
                Axis number. Format: +60 or -60
            </span>
            </td>
        </tr>
        <tr>
            <td>
            <label for="id_creation_DT">Created On:</label>
    </td>
        <td>
            <input id="id_creation_DT"
                   name="creation_DT"
                   type="text"
                   value="{% now 'Y-m-d H:i:s'%}"
                   required />
            </td>
        <td>
            <span class="helptext">
                Creation Date/Time. Format: YYYY-MM-DD HH:MM:SS
            </span></td>
        </tr>
        <tr>
            <td>
            <label for="id_modification_DT">Modified On:</label>
                </td>
            <td>
            <input id="id_modification_DT" name="modification_DT"
                   type="text" value="{% now 'Y-m-d H:i:s'%}"/>
                </td>
            <td>
            <span class="helptext">
                Date/Time. Format: YYYY-MM-DD HH:MM:SS
            </span></td>
        </tr>

        <tr>
            <td>
            <label for="id_file">Picture file to be uploaded: </label>
                </td>
            <td>
            <input type = "file" id="id_file" name="file"
                   placeholder ="Picture/scanned image here"/>
                </td>
            <td>
            <span class="helptext">
                File Name. Required.
            </span></td>
        </tr>

</table>



        <input class="btn btn-primary" type="submit" value="Save"/>
    </form>

    <a class="text-center btn btn-primary" href="{% url "prescriptions" %}">
        Back to the Prescription list</a>

{% endblock %}