{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">










                    <h2><strong>FAQs (Frequently   Asked Questions)</strong></h2>
                <h2>Q: 	I need LASIK, why should I come to WVI?</h2>
                <p><strong>With <a href="wang.html">Dr. Wang</a>, you get Education, Expertise, Experience and the Best Technology! A few of the many examples of this are:</strong></p>
                <ul>
                  <li>                    Harvard &amp; MIT (MD, <em>magna cum laude</em>); PhD (laser physics)</li>
                  <li> Wills Eye Hospital (ophthalmology residency)</li>
                  <li> Bascom Palmer Eye Institute (corneal fellowship)</li>
                  <li> One of the few LASIK eye surgeons in the world today who holds a doctorate degree in laser physics</li>
                  <li> Published a paper in the world renowned journal &quot;Nature&quot;</li>
                  <li> Published eight major textbooks in the corneal field:
                    <ul>
                      <li><a href="book/index.html">Laser Vision Correction</a></li>
                      <li><a href="http://www.slackbooks.com/view.asp?SlackCode=67182" target="_blank">Corneal Topography in the Wavefront Era</a></li>
                      <li><a href="publications_corneal_topography_v2.html">Corneal Topography: A Guide for Clinical Application in the Wavefront Era, Second Edition</a></li>
                      <li><a href="http://www.slackbooks.com/view.asp?slackCode=68395" target="_blank">Irregular Astigmatism</a></li>
                      <li><a href="publications_keratoconus.html">Keratoconus and Keratoectasia</a></li>
                      <li><a href="publications_corneal_dystrophies.html">Corneal Dystrophy and Degeneration - A Molecular Genetic Approach</a></li>
                      <li><a href="http://wangvisioninstitute.com/publications_atlas_book.html">Atlas and Clinical Reference Guide for Corneal Topography </a></li>
                      <li><a href="http://wangvisioninstitute.com/publications_rle_book.html">Refractive Lens Exchange: A Surgical Treatment for Presbyopia</a></li>
                    </ul>
                  </li>
                  <li> Holds several US patents for inventions of new biotechnologies to restore sight</li>
                  <li> Founded <a href="http://www.wangfoundation.org" target="_blank">Wang Foundation for Sight Restoration</a>, a 501c(3) charity that has helped patients from over 40 states in the US and 55 countries worldwide, with all sight restoration surgeries performed free of charge</li>
                  <li> Former consultant to US FDA Ophthalmic Device Panel</li>
                  <li> Achievement Award, American Academy of Ophthalmology</li>
                  <li> Specialized in treating LASIK complications and published the first major textbook in the world dedicated to treating the most difficult-to-treat LASIK complication: <a href="http://www.slackbooks.com/view.asp?slackCode=68395" target="_blank">Irregular Astigmatism</a>.</li>
                </ul>
                <p>&nbsp;</p>
                <h2>Q: 	I have LASIK complications from my initial procedure performed elsewhere. Why should I come to WVI for a consultation?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li>Wang Vision 3D Cataract &amp; LASIK center is an international referral center for the treatment of LASIK complications, and as mentioned, has helped patients with LASIK complications from over 40 states in the US and 55 countries</li>
                  <li> Dr. Wang published the first major textbook that is dedicated to treating the most difficult-to-treat LASIK complication: <a href="http://www.slackbooks.com/view.asp?slackCode=68395" target="_blank">Irregular Astigmatism</a></li>
                  <li> Dr. Wang is a former panel consultant to the US FDA, and was a primary reviewer for the FDA's first LASIK approval of LASIK</li>
                </ul>
                <p>&nbsp;</p>
                <h2>Q: 	I have keratoconus and have heard about the Intacs procedure which may be able to slow down or stop the progression of this corneal disease. Why should I come to WVI for this procedure?</h2>
                <p><strong>Answer: </strong>                </p>
                <ul>
                  <li>                    Wang Vision 3D Cataract &amp; LASIK center is an international referral center for and specializes in the treatment of keratoconus</li>
                  <li>Wang Vision 3D Cataract &amp; LASIK center performed the world's first femtosecond laser-assisted Intacs ring procedure on a keratoconus graft</li>
                  <li>Dr. Wang published 4 major textbooks which deal with this corneal condition:
                    <ul>
                      <li><a href="http://www.slackbooks.com/view.asp?SlackCode=67182" target="_blank"> Corneal Topography in the Wavefront Era </a>- about the key imaging technology for keratoconus</li>
                      <li><a href="http://www.slackbooks.com/view.asp?slackCode=68395" target="_blank">Irregular Astigmatism</a> - As mentioned above, this condition is the most difficult-to-treat of the LASIK
                      complications, and it is responsible for many post-LASIK symptoms (night vision problems, halos, starburst and blurriness)</li>
                      <li> <a href="publications_keratoconus.html">Keratoconus and Keratoectasia </a>- the most updated summary of what is known about keratoconus and how to treat it.</li>
                      <li><a href="publications_corneal_dystrophies.html">Corneal Dystrophies and Degenerations</a>: A Molecular Genetic Approach, published by American Academy of Ophthalmology.<br />
                      </li>
                    </ul>
                  </li>
                </ul>
                <p>&nbsp;</p>
                <h2>Q: 	I heard about the Implantable Contact Lens (ICL) procedure for high myopia (nearsightedness). Why should I come to WVI for this procedure?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li>Wang Vision 3D Cataract &amp; LASIK center performed the first <a href="visian_implantable_contact_lens.htm">ICL procedure</a> in the state.</li>
                  <li>Wang Vision 3D Cataract &amp; LASIK center is currently one of the most active centers in the US in performing ICL, and is among the most experienced.</li>
                  <li>Dr. Wang participated in the FDA clinical study protocol design for the ICL.</li>
                </ul>
                <p>&nbsp;</p>
                <h2>Q: 	I have astigmatism. Why should I come to Wang Vision for treatment?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li> We specialize in the treatment of astigmatism.</li>
                  <li>As mentioned, Dr. Wang published the world's first major textbook that is dedicated to treating the most difficult-to-treat type of astigmatism: <a href="http://www.slackbooks.com/view.asp?slackCode=68395" target="_blank">Irregular Astigmatism</a>.<br />
                  </li>
                </ul>
                <h2><br />
                Q: 	I would like to get rid of my reading glasses. why I come to Wang Vision for a consultation?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li> Wang Vision 3D Cataract &amp; LASIK center was the first center in the state to perform several procedures to help patients  reduce their dependence on reading glasses -- <a href="bladeless_lasik.html">bladeless LASIK</a>.</li>
                </ul>
                <h2><br />
                Q: 	I heard about a new cataract surgery lens implantation that will eliminate my need for reading glasses afterwards. Why should I come to Wang Vision?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li>Wang Vision 3D Cataract &amp; LASIK center was the first center in the state to perform cataract surgery with a new <a href="new_reading_lens_cataract.html">&quot;Forever Young Lens&trade;&quot;</a>,  which helps you to regain both distance and reading vision, which will not deteriorate as you age!</li>
                </ul>
                <h2><br />
                Q: 	I have severe corneal damage, and have been treated in many medical centers, and have always been told that my blindness is permanent. Why should I come to Wang Vision for a second opinion evaluation?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li>Dr. Wang performed <a href="story_randy_mathenia.html">the world's first laser-assisted artificial cornea implantation</a>, which restored the sight of <a href="story_randy_mathenia.html">a man who had been blind for 30 years</a></li>
                  <li> Dr. Wang performed the first artificial corneal surgery in middle TN using the new Boston K, and restored full sight to a patient who had been blind for 35 years</li>
                  <li> Our charitable foundation, the <a href="http://wangfoundation.org">Wang Foundation for Sight Restoration</a> (a 501c(3) charity), has helped patients from over 40 states in the US and 55 countries worldwide, with all sight restoration surgeries performed free-of-charge.<br />
                  </li>
                </ul>
                <h2><br />
                Q: 	I have pterygiums. Why should I come to WVI to have them removed?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li> Dr. Wang performed the state's first sutureless <a href="pterygium.html">pterygium</a> excision with an amniotic membrane graft and biological glue</li>
                  <li>Dr. Wang published the first scientific paper that demonstrates laboratory success in reducing corneal scarring with the use of an <a href="amt.html">amniotic membrane</a></li>
                </ul>
                <p>&nbsp;</p>
                <h2>Q: 	I was told that I need a corneal transplant. Why should I come to WVI for this procedure?</h2>
                <p><strong>Answer: </strong></p>
                <ul>
                  <li> WVI specializes in cornea conditions, diseases and surgeries</li>
                  <li>Dr. Wang performed the state's first endothelial cell transplant (DSAEK), which removes only the diseased part of the cornea</li>
                  <li>Dr. Wang performed the state's first <a href="laser_assisted_corneal_transplantation.html">laser-assisted corneal transplantation</a></li>
                  <li>Dr. Wang performed the world's first laser-assisted corneal transplantation after cataract surgery, <a href="video_evelyn.html"><em>Click here</em></a> to see the video story.</li>
                </ul>
                <h2><br />
                  Q: 	I have heard about the new &quot;Forever Young Lens&trade;&quot; cataract surgery that Dr. Wang performs, which allows me to have permanent reading and distance vision. Why should I come to Dr. Wang for this procedure?</h2>
                <p> <strong>Answer: </strong></p>
                <ul>
                  <li>  <strong>Credentials</strong>: <a href="wang.html">Dr. Wang</a>, a Harvard &amp; MIT graduate (MD, <em>magna cum laude</em>) and one of the few eye surgeons in the world who holds a doctorate degree in laser physics, has been at the forefront of research and development of new eye surgeries. He completed his ophthalmology residency at Wills Eye Hospital and corneal fellowship at Bascom Palmer Eye Institute</li>
                  <li><strong>Books and Articles</strong>: He has published 6 books in the corneal and LASIK surgery fields. He has also written articles about these new multifocal intraocular lenses (which can be implanted after cataract surgery or as a &quot;clear lens exchange&quot; to eliminate presbyopia (reading vision problems):
                    <ul>
                      <li>&quot;<strong>Understanding Problems with Presbyopic IOLs: Look to the Cornea</strong>&quot; M. Wang, Refractive Eyecare, Vol 12, Num 11, Nov 2008, pp1-5                      </li>
                    </ul>
                  </li>
                  <ul>
                    <li>&quot;<strong>Corneal Topography and Refractive IOLs - What to Look For</strong>&quot; M. Wang, T. Swartz, in &quot;Mastering Refractive IOLs&quot;, Ed D. Chang, SLACK, 2008                    </li>
                  </ul>
                  <li><strong>Expertise</strong>: Dr. Wang performed one of the state's first multifocal lens implantations using the new Tecnis Multifocal Lens, which has three distinct advantages over other lenses:
                    <ul>
                      <li> Excellent vision in all three ranges (near, intermediate, distance)</li>
                      <li>Excellent night vision</li>
                      <li> Excellent vision in all lighting conditions                  </li>
                    </ul>
                  </li>
                </ul>
                <h2>&nbsp;</h2>
                <h2>Q: Dr. Wang has performed many &quot;eye surgery firsts&quot; for TN, the US and the world! what are these?</h2>
                <p><u>First in the <span style="color: #F00; font-weight: bold;">world</span> to perform</u>:</p>
                <ul>
                  <li> amniotic membrane contact lens fitting (1999, US patent)</li>
                  <li> <strong>femtosecond laser-assisted artificial cornea implantation</strong> (2004)</li>
                  <li> femtosecond laser-assisted Intacs implantation on a keratoconus graft (2005)</li>
                  <li> combined femtosecond laser-assisted artificial cornea and saliva gland transplantation (2005)</li>
                  <li>femtosecond laser-assisted corneal transplantation on a post-cataract surgery eye (2006)</li>
                  <li style="color: #000000"> <strong>3D image-guided high-definition bladeless all-laser LASIK (2011)</strong></li>
                </ul>
                <p>                  <u>First in the <strong style="color: #F00">US</strong> to perform</u>:</p>
                <ul>
                  <li>  high-frequency custom laser corneal wavefront treatment for post-LASIK complex eyes (Cipta) (2005)</li>
                  <li>high-frequence custom laser ablative lamellar transplant surgery (Clat) (2005)</li>
                  <li><strong>a new Intacs implantation for advanced keratoconus (2010)</strong><br />
                  </li>
                </ul>
                <p><u>First in the <span style="color: #F00; font-weight: bold;">state</span> to perform</u>:</p>
                <ul>
                  <li> amniotic membrane graft (1997)</li>
                  <li> corneal stem cell transplantation (1997)</li>
                  <li> LASIK using a new disposable microkeratome (1997)</li>
                  <li> intrastromal astigmatic keratotomy (1997)</li>
                  <li> Hyperopic LASIK (1998)</li>
                  <li><strong> Femtosecond laser bladeless all-laser LASIK (2002)</strong></li>
                  <li> Implantable contact lens (ICL) to treat high myopia (2002)</li>
                  <li> C-CAP to treat post-LASIK complications (2003)</li>
                  <li> CustomVue wavefront LASIK (2003)</li>
                  <li> femtosecond laser-assisted Intacs for keratoconus (2004)</li>
                  <li> sutureless pterygium excision with an amniotic membrane graft and biological glue (2005)</li>
                  <li> corneal endothelial transplantation (DESAK) (2005)</li>
                  <li> combined CK with Intacs treatment for KC (2005)</li>
                  <li> Boston-K artificial cornea implantation (2008)</li>
                  <li> Femtosecond laser astigmatic keratotomy (2009)</li>
                  <li> scleral spacing procedure to treat presbyopia (2009, U.S. FDA clinical trial)</li>
                  <li> new generation premium lens implantation (2010)</li>
                  <li> Acufocus Kamra corneal in-lay implantation to treat presbyopia (2011)</li>
                  <li class="style3"> 3D image-guided high-definition premium lens cataract surgery (2011)</li>
                </ul>
                <p><u>                  First in <strong style="color: #F00">China</strong>, to perform</u>:</p>
                <ul>
                  <li><strong>Intralase bladeless all-laser LASIK (2005, the first in 1.4 billion people)</strong></li>
                  <li>femtosecond laser-assisted Intacs for keratoconus (2006)</li>
                  <li>Implantable contact lens (ICL) to treat high myopia (2006)<br />
                  </li>
                </ul>



















</div>


{% endblock %}