{%  extends "base.html" %}

{% block content %}
<div>
    <h3 class="text-center">Use this form to update an old password entry.
    Clicking on "Back to the password list" does not update anything.</h3>
</div>
<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="isa_error fontsize150p">
                <i class="fa fa-times-circle"></i>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

        {% for field in form %}
            {% for error in field.errors %}
                <div class="isa_error fontsize150p">
                    <i class="fa fa-times-circle"></i>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <p>
        {{ form.errors.name }}
        <label for="id_name">name:</label>
        <input id="id_name" maxlength="254"
               name="name" type="text" value="{{ item.name }}" />
        <span class="helptext">Website name or computer name</span>
    </p>
    <p>
        {{ form.errors.username }}
        <label for="id_username">Username:</label>
        <input id="id_username" maxlength="255"
               name="username" type="text" value="{{ item.username }}" />
        <span class="helptext">Username or email address or phone number
        </span>
    </p>
    <p>
        {{ form.errors.password }}
        <label for="id_password">Password:</label>
        <input id="id_password" maxlength="255"
               name="password" type="text" value="{{ item.password }}" />
        <span class="helptext">
            Password hint works perfect. Full honesty optional
        </span>
    </p>
    <p>
        {{ form.errors.creationDT }}
        <label for="id_creationDT">Created On:
        </label>
        <input id="id_creationDT" name="creationDT"
               type="text"
               value=
               "{{ item.creationDT|date:'Y-m-d' }} {{ item.creationDT|time:'H:i:s' }}" />
        <span class="helptext">
            Creation Date/Time. Format: YYYY-MM-DD HH:MM:SS
        </span>
    </p>
    <p>
        {{ form.errors.modificationDT }}
        <label for="id_modificationDT">
            Modified On:
        </label>
        <input id="id_modificationDT" name="modificationDT"
               type="text" value="{% now 'Y-m-d H:i:s'%}" />
        <span class="helptext">
            Modification Date/Time. Format: YYYY-MM-DD HH:MM:SS
        </span>
    </p>
    <p>
        {{ form.errors.comment }}
        <label for="id_comment">Comment:</label>
        <input id="id_comment" maxlength="255"
               name="comment" type="text" value="{{ item.comment }}" />
        <span class="helptext">Any comments are welcome
        </span>
    </p>
    <p>
        {{ form.errors.security_questions }}
        <label for="id_security_questions">Security Questions:</label>
        <input id="id_security_questions" maxlength="255"
               name="security_questions" type="text" value=
                       "{{ item.security_questions }}" />
        <span class="helptext">Security Questions
        </span>
    </p>
    <p>
        {{ form.errors.email }}
        <label for="id_email">Email:</label>
        <input id="id_email" maxlength="255"
               name="email" type="text" value="{{ item.email }}" />
        <span class="helptext">Email address used for this account
        </span>
    </p>

    <input type="submit" value="Save" />
</form>

<a class="text-center btn btn-primary" href="{% url "receipts" %}">
    Back to the password list</a>

{% endblock %}