{% extends 'base.html' %}

{% block content %}
        <h1 class="text-center">Receipt Details</h1>
ID is: {{ receipt.id }} <br/>
Receipt Name is: {{ receipt.name }} <br/>
Store Name is: {{ receipt.store_name }} <br/>
Amount is: {{ receipt.amount }} <br/>
Receipt file URL is: {{ receipt.file_url }} <br/>
Created On: {{ receipt.creation_DT }}<br/>
Modified On: {{ receipt.modification_DT }} <br/>


<a class="text-center btn btn-primary"
    href="{% url "receipts" %}">
    Back to the receipt list
</a>
{% endblock %}