{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


    <div class="row">
        <p class="col-md-offset-2 col-md-8">If everyone is an angel, there is
        no need for a government. For the very first generation of computers,
        there is no need for a password. Everything was centralized, and
        everyone can trust others working on the same project. As more
        and more people joined computer projects, there is a need for
        the computer system to distinguish one person from another. As a
            result,
        each person working on a computer project needed to have his/own
        account so that computing cost can be reasonably distributed among
        different people. That created another problem: How can be insure
            that
        one person did not misuse other people's account for his/her own
            benefits?
        In other words: how could be get rid of "free riders"? We create
            individualized
        passwords so that each one is responsible for his/her accounts.</p>
        <p class="col-md-offset-2 col-md-8">The introduction of password
            increases security because in theory one person cannot use
            other people's computing resources for free.
            However, with the multiplication of computing resources,
            especially the online / mobile accounts associated with
            service providers created an explosion of the number of
            passwords needed for daily work. There is a phenomenon called
            "Password Fatigue" because people have to memorize
            so many different passwords. To make things work, each
            service provider usually requires more and more
            characters for a "secure password".
        </p>
        <p class="col-md-offset-2 col-md-8">Over-security hurts
            convenience. Computer users staged gradual open
            rebellious movements against the aggressive
            requirement. Do you want me to create a password that is 12
            characters long? Do you also want me to include upper-case
            letters, special symbols and numbers? I can create them and
            I need to write it down in a post-it note. To make thing worse,
            people posted their passwords in their office space for convenient
            access. What would happen if a total stranger just passed
            your office and has saw your notes? It is a security disaster.
    </p>
            <p class="col-md-offset-2 col-md-8">Security is needed in an
                overly connected society. However, an increased emphasis on the
                security strength of a password has disastrous
                unintended consequences.
    </p>
    </div>

{% endblock %}