{% load staticfiles %}


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="icon" type="image/x-icon"
          href="{% static 'images/drawing-svg-i-hate-passwordv4.ico' %}" />

    <link href="{% static 'bootstrap3.3.6/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'css/site.css' %}"
          rel="stylesheet" media="screen">
    <link rel="stylesheet"
          href=
          "//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
        >
</head>

<body>

<div class="navbar navbar-default">
    <div class="container-fluid bs-navbar-bg-color">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bootstrap-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a class="navbar-brand navbar-ihatepassword"
           href="{% url "main" %}">
            <img class="img-responsive"
                 src="{% static "images/WVI_logo_small_full.gif" %}"
                 width="50px"
            >
        </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"
         id="bootstrap-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                  <a class="fontsize125p navbar-ihatepassword"
                     href="{% url "how_to_use" %}">How to use?</a>
             </li>


          </ul>


          <ul class="nav navbar-nav pull-right">

        {% if user.is_authenticated %}
            <li>
                <a class="fontsize125p navbar-ihatepassword "
                   href="{% url "eyecare_q_and_a" %}">
                    Eyecare Q&A</a>
            </li>

            <li>
                <a class="fontsize125p navbar-ihatepassword "
                   href="{% url "receipts" %}">
                    Receipts</a>
            </li>

            <li>
                <a class="fontsize125p navbar-ihatepassword "
                   href="{% url "prescriptions" %}">
                    Prescriptions</a>
            </li>

        {% else %}
        {% endif %}
            {% if user.is_authenticated %}
                <li>
                <a class="fontsize125p navbar-ihatepassword"
                        href="{% url "accounts_profile" %}">
                    Hi,<span class="bs_regular_blue_color">
                    {{ user.username }}</span> </a>
                </li>
                <li>
                    <a class="fontsize125p navbar-ihatepassword"
                   href="{% url "logout" %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a class="fontsize125p navbar-ihatepassword"
                    href="{% url "register" %}">Register</a>
                </li>
                <li>
                    <a class="fontsize125p navbar-ihatepassword"
                    href="{% url "login" %}">Login</a>
                </li>
            {% endif %}


    </ul>
        </div><!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</div>
<!-- The above is from http://www.tangowithdjango.com/book/chapters/bootstrap.html -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'bootstrap3.3.6/js/jquery-2.2.4.min.js' %}">
</script>
<script src="{% static 'bootstrap3.3.6/js/bootstrap.min.js' %}">
</script>

</body>